<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="fileExtensions" value="java,properties,xml"/>

    <module name="FileLength">
        <property name="fileExtensions" value="java"/>
        <property name="max" value="200"/>
    </module>

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="LineLength">
        <property name="ignorePattern" value="^package.*|^import.*"/>
        <property name="max" value="120"/>
    </module>

    <module name="OrderedProperties"/>

    <module name="RegexpSingleline">
        <property name="format" value="\s+$"/>
        <property name="message" value="Line has trailing spaces."/>
    </module>

    <module name="SuppressWarningsFilter"/>

    <module name="NewlineAtEndOfFile"/>

    <module name="TreeWalker">
        <module name="AbbreviationAsWordInName">
            <property name="allowedAbbreviations" value="IT"/>
            <property name="allowedAbbreviationLength" value="1"/>
            <property name="ignoreFinal" value="false"/>
        </module>

        <module name="AvoidNoArgumentSuperConstructorCall"/>

        <module name="AvoidStarImport"/>

        <module name="ClassFanOutComplexity"/>

        <module name="ConstantName"/>

        <module name="CovariantEquals"/>

        <module name="CustomImportOrder">
            <property
                    name="customImportOrderRules"
                    value="THIRD_PARTY_PACKAGE###SPECIAL_IMPORTS###STANDARD_JAVA_PACKAGE###STATIC"/>
            <property name="specialImportsRegExp" value="^javax\."/>
            <property name="standardPackageRegExp" value="^java\."/>
            <property name="sortImportsInGroupAlphabetically" value="true"/>
            <property name="separateLineBetweenGroups" value="false"/>
        </module>

        <module name="DeclarationOrder"/>

        <module name="DefaultComesLast"/>

        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignore"/>
        </module>

        <module name="EmptyStatement"/>

        <module name="EqualsAvoidNull"/>

        <module name="EqualsHashCode"/>

        <module name="ExecutableStatementCount">
            <property name="max" value="5"/>
            <property name="tokens" value="METHOD_DEF"/>
        </module>

        <module name="FallThrough"/>

        <module name="IllegalInstantiation">
            <property name="classes" value="java.lang.Boolean"/>
        </module>

        <module name="IllegalThrows">
            <property name="ignoreOverriddenMethods" value="true"/>
        </module>

        <module name="IllegalToken"/>

        <module name="IllegalType"/>

        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
            <property name="throwsIndent" value="8"/>
            <property name="lineWrappingIndentation" value="8"/>
            <property name="arrayInitIndent" value="4"/>
        </module>

        <module name="InnerAssignment"/>

        <module name="LeftCurly"/>

        <!-- Method length check does not take into account single executable statements spread over multiple lines
        like for example a builder pattern or a stream operation. Instead we prefer to limit the amount of code in one
        method using the ExecutableStatementCount check. -->
        <module name="MethodLength">
            <property name="countEmpty" value="false"/>
            <property name="max" value="30"/>
        </module>

        <module name="MissingSwitchDefault"/>

        <module name="ModifiedControlVariable"/>

        <module name="ModifierOrder"/>

        <module name="MultipleStringLiterals">
            <property name="allowedDuplicates" value="3"/>
        </module>

        <module name="MultipleVariableDeclarations"/>

        <module name="NeedBraces"/>

        <module name="NestedForDepth">
            <property name="max" value="1"/>
        </module>

        <module name="NestedIfDepth">
            <property name="max" value="1"/>
        </module>

        <module name="NestedTryDepth">
            <property name="max" value="1"/>
        </module>

        <module name="NoClone"/>

        <module name="NoEnumTrailingComma"/>

        <module name="NoFinalizer"/>

        <module name="OneStatementPerLine"/>

        <module name="OverloadMethodsDeclarationOrder"/>

        <module name="PackageDeclaration"/>

        <module name="ParameterAssignment"/>

        <module name="ParameterNumber">
            <property name="ignoreOverriddenMethods" value="true"/>
            <property name="max" value="3"/>
            <property name="tokens" value="CTOR_DEF,METHOD_DEF"/>
        </module>

        <module name="RedundantImport"/>

        <module name="RedundantModifier"/>

        <module name="RequireThis">
            <property name="checkMethods" value="false"/>
        </module>

        <module name="ReturnCount">
            <property name="max" value="2"/>
            <property name="maxForVoid" value="1"/>
        </module>

        <module name="SimplifyBooleanExpression"/>

        <module name="SimplifyBooleanReturn"/>

        <module name="StringLiteralEquality"/>

        <module name="SuppressWarningsHolder"/>

        <module name="UnnecessaryParentheses"/>

        <module name="UnnecessarySemicolonInEnumeration"/>

        <module name="UnnecessarySemicolonInTryWithResources"/>

        <module name="UnusedImports"/>

        <module name="VariableDeclarationUsageDistance"/>
    </module>
</module>
